{% extends "template.html"%}
{% load static %}

{% block content %}

<style>
    .navbar-header{ display: none;}
    .footer{ display: none; }
    .button1 {
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    }
    .button1:hover {
    background-color: #ecf0f1;
    color:black;
    }
    .button2 {
    background-color: none;
    border: 2px solid #00adb5;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    }
    .button2:hover {
    background-color: #00adb5;
    color:white;
    }
</style>

<div style="font-size: 80px; text-align: center; padding: 10px">
    <b>دُنگی مُنگی</b>
</div>
<div style="font-size: 15px; text-align: center; padding-bottom: 50px">
    |دنگ منگاتونو بدین من جابجا میکنم.|
</div>
<div style="font-size: 10px; text-align: center; padding: 2px">
    <button class="button1" onclick="window.location.href='/accounts/register/'">ساخت اکانت</button>
</div>
<div style="font-size: 10px; text-align: center;">
    <button class="button2" onclick="window.location.href='/accounts/login/'">ورود</button>
</div>


{% endblock %}


{% block footer %}


<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $(".edittaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}

function fadeout(elementid){
    $('.edittask-'+elementid).fadeOut(250);
}
function showeditinput(elementid){
    $('.edittask-'+elementid).fadeIn(250);
    $('.edittask-'+elementid).focus();
    return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
