{% extends "template.html"%}
{% load static %}

{% block content %}
<style>
    .button1 {
    background-color: #00adb5;
    border: 2px solid #00adb5;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 93%;
    margin-top: 20px;
    }
    .button1:hover {
    background-color: #eeeeee;
    color:black;
    }
</style>


{% if form.errors %}
<p>
نام کاربری یا پسورد شما درست نبود.
</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>
برای دیدن این صفحه باید لاگین کنید
    </p>
    {% endif %}
{% endif %}



  {% if message %}
  <div class="bs-callout bs-callout-info">
    <h5>{{ message }}</h5>
  </div>
  {% endif %}




<div style="background-color: #eeeeee ; border: none ; text-align:center; width: 350px ; margin:auto; float: none">
  <div class="panel-heading" style="background-color: #eeeeee ; font-size: 20px ; border-bottom: 2px solid #222831;">
    <h3 class="panel-title" style="background-color: ; font-size:17px ; text-align:center ; color:black ;">ورود</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" method="POST" action="/accounts/login/" >
      {% csrf_token %}
      <input type="hidden" name="dologin" value="true" />
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label" style="width: 100%; text-align: right; font-size:13px">نام کاربری</label>
        <input type="text" name="username" class="form-control" placeholder="نام کاربری" style="width: 93%; margin: auto ; align-text:center ; height: 40px ; font-size:11px ; margin-bottom: -5px;">
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label" style="width: 100%; text-align: right; font-size:13px">کلمه عبور</label>
        <input type="password" name="password" class="form-control"  placeholder="پسورد" style="width: 93%; margin: auto ; align-text:center ; height: 40px ; font-size:11px ; margin-bottom: -5px;">
      </div>
      <div class="form-group">
        <button type="submit" class="button1">تلاش برای ورود</button>
      </div>
    </form>
    <ul style="text-align:right ; margin-top: 30px ; font-size:12px">
      <li><a href="/accounts/register/" >اگر عضو نیستین از اینجا عضو بشین.</a></li>
    <ul>
  </div>
</div>


{% endblock %}